@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
    @apply shadow-md py-3 px-6 rounded-md transition duration-300
}

.btn-white {
    @apply bg-primary
}

.btn-black {
    @apply bg-secondary
}

.btn-purple {
    @apply bg-purple
}
